@import "tailwindcss";

@font-face {
  font-family: "MyCustomFont";
  src: url("/font/cfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "tnr";
  src: url("/font/times.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cfont: "MyCustomFont", Georgia, serif;
  --font-tnr: "tnr", "Times New Roman", Times, serif;
}
