@import "tailwindcss";

@font-face {
  font-family: "MyCustomFont";
  src: url("/font/cfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cfont: "MyCustomFont", Georgia, serif;
}
